@font-face {
  font-family: 'Apercu Pro';
  src: url('/static/fonts/ApercuPro-Regular.woff2') format('woff2'),
      url('/static/fonts/ApercuPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('/static/fonts/ApercuPro-Medium.woff2') format('woff2'),
      url('/static/fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  --vertical-space: 3rem;
  --sidebar-space: 3rem;
  --header-height: 4rem;
  --footer-height: 20px;
  --animation-type: cubic-bezier(0.7,0,0.3,1);
  --animation-time: 0.3s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

html {
  --font-size: 16px;
  font-size: var(--font-size);
}

@media (max-width: 1440px) {
  html {
    --font-size: 14px;

    letter-spacing: -0.0109598em;
  }
}

@media (max-width: 1366px), (-webkit-max-device-pixel-ratio: 1.25) and (max-width: 1600px) {
  html {
    --font-size: 13px;

    letter-spacing: -0.00622354em;
  }
}

@media (max-width: 1024px), (-webkit-max-device-pixel-ratio: 1.5) and (max-width: 1366px) {
  html {
    --font-size: 12px;

    letter-spacing: -0.00622354em;
  }
}

@media (max-width: 768px) {
  html {
    --font-size: 11px;

    letter-spacing: -0.00622354em;
  }
}

@media (max-width: 480px) {
  html {
    --font-size: 16px;
  }
}

body {
  width: 100vw;
  font-family: 'Apercu Pro', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;

  background: #191919;
  color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}